= content_for(:content) do
  %header.body
    %h1
      %a{:href => '/admin_dashboard'}
        = t(:'shared.app_name')
    %nav
      %ul
        - if logged_in?
          - if current_user.group.administrator?
            %li
              = link_to(t(:'.administrators'), administrators_path, {:id => 'administrators'})
    #sidebar
      - if logged_in?
        = button_to(t(:'.sign_out'), sign_out_path, {:id => 'sign_out_btn', :class => 'logout', :method => :delete})
      - else
        = link_to(t(:'.sign_in'), sign_in_path, {:id => 'sign_in'})
  %section.body
    = flash_messages
    #content
      = yield
  %footer.body
    %p
      =raw t(:'.copyright', :year => Date.today.year)
= render :file => 'layouts/base'
