= content_for(:content) do
  %header.grid_12.head
    %a{:href => root_path, :class => 'logo'}
      %strong
        = t(:'shared.app_name')
    .sign-in-sign-out-wrap
      - if logged_in?
        = button_to(t(:'.sign_out'), sign_out_path, {:id => 'sign_out_btn', :method => :delete})
      - else
        = link_to(t(:'.sign_in'), sign_in_path, {:id => 'sign_in'})
  - if logged_in?
    %section.grid_12
      %nav.vertical-menu
        %ul
          - if current_user.group.administrator?
            %li
              = link_to(t(:'.administrators'), administrators_path, {:id => 'administrators_menu_lnk'})
  %section.grid_12.body
    = flash_messages
    %article.relative
      = yield
  %footer.grid_12.foot
    %p
      =raw t(:'.copyright', :year => Date.today.year)
= render :file => 'layouts/base'
