!!! 5
%html
  %head
    %title= yield(:title) or t(:'shared.app_name')
    = csrf_meta_tag
    %meta{:charset => 'utf-8'}
    = stylesheet_link_tag 'admin'
    = yield(:stylesheets)
    = javascript_include_tag 'admin'
    = yield(:javascripts)
  %body
    = yield(:content) or yield
    
