%fieldset
  %ol
    %li
      = f.label :name, :class => :label
      = f.text_field :name
      %p.inline-hints
    %li
      = f.label :surname, :class => :label
      = f.text_field :surname
      %p.inline-hints

= render(:partial => 'shared/user_form_fields', :locals => {:f => f})

%fieldset.buttons
  %ol
    %li
      = f.submit
    %li
      = link_to(t(:'shared.cancel'), administrators_path, :class => 'cancel')

